//variables
$yellow: #f7daa4;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,700&display=swap');
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: $raleway;
    text-decoration: none;
}
.logo {
    width: 100vw;
}
h1 {
    display: inline;
    border-bottom: 5px solid $yellow;
}
iframe {
    border: none;
}
.hamburger {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
        @media (min-width: 700px) {
            display: none;
        }
}
.navbar {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-items: center;
    letter-spacing: .1em;
}
.false {
    display: none;
    @media (min-width: 700px) {
        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
        letter-spacing: .1em;
    }
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 3% 5%;
    padding: 10px;
    p {
        line-height: 1.5;
        text-align: center;
    }
}
.boxed > * {
    border: 5px solid $yellow;
    width: 80%;
    padding: 3%;
}

.about {
    width: 60vw;
    padding: 50px;
    border-top: 5px solid $yellow;
    a {
        text-decoration: underline;
    }
}
.schedule {
    h3 {
        margin-bottom: 10px;
    }
    a {
        text-decoration: underline;
    }
    a:hover {
        text-decoration: none;
    }
}
.readMore {
    text-decoration: underline;
}
.section > * {
    margin: 20px;
}
.subSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 700px) {
    header {
        grid-template-areas: "nav nav";
    }
    .navbar {
        grid-template-rows: repeat(4,auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    }
}

.indexContainer {
    display: flex;
    justify-content: center;
    margin: 100px;
    .headshot {
        width: 400px;
        width: 400px;
        margin: 100px;
    }
    .summaryContainer {
        display: flex;
        align-items: center;
    }
    .bioSummary {
        font-size: 1.5em;
        text-align: center;
        line-height: 1.5;
        letter-spacing: .1em;
    }
    @media (max-width: 700px) {
        display: block;
        margin: 10%;
        .headshot {
            width: 200px;
            display: block;
            margin: 10% auto;
        }
        .bioSummary {
            font-size: 1em;
        }
    }
}
.form {
    width: 50vw;
}
form {
    label {
        font-size: 1.5em;
    }
    textarea {
        line-height: 150%;
        height: 300px;
        width: 80%;
        font-size: 1em;
        padding: 20px;
        border: 2px solid black;
        textarea:focus {
            outline: none;
        }
    }
    input {
        line-height: 150%;
        height: 2em;
        width: 80%;
        padding: 20px;
        font-size: 1em;
        border: 2px solid black;
    }
    .field {
        padding: 20px;
    }
    .inputContainer {
        display: flex;
        justify-content: center;
        margin: 2em;
    }
    button {
        padding: 1em;
        background: white;
        color: black;
        font-size: 1em;
        border: 2px solid black;
        border-radius: 5px;
    }
    button:hover {
        background: $yellow;
        cursor: pointer;
    }
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    border-top: $yellow 10px solid;
}
.iconsContainer {
    display: flex;
}
.iconContainer {
    padding: 1.5em;
}