//variables
$yellow: #f7daa4;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,700&display=swap');
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: $raleway;
    text-decoration: none;
}
.logo {
    width: 100vw;
}
h1 {
    display: inline;
    border-bottom: 5px solid $yellow;
}
iframe {
    border: none;
}
.hamburger {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 30px;
        @media (min-width: 700px) {
            display: none;
        }
}
.navbar {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(4,auto);
    align-items: center;
    justify-items: center;
    letter-spacing: .1em;
}
.false {
    display: none;
    @media (min-width: 700px) {
        grid-area: nav;
        display: grid;
        grid-template-columns: repeat(4,auto);
        align-items: center;
        justify-items: center;
        letter-spacing: .1em;
    }
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 10px;
    p {
        line-height: 1.5;
        text-align: center;
        margin-bottom: 0.5em;
    }
}
.boxed > * {
    border: 5px solid $yellow;
    width: 80%;
    padding: 3%;
}
.about {
    padding: 50px 20% 50px 20%;
    border-bottom: 5px solid $yellow;
}
.apollo {
    border: none;
}
.readMore {
    text-decoration: underline;
}
.section > * {
    margin: 20px;
}
.subSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 700px) {
    header {
        grid-template-areas: "nav nav";
    }
    .navbar {
        grid-template-rows: repeat(4,auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    }
}

.indexContainer {
    display: flex;
    justify-content: center;
    margin: 100px;
    .headshot {
        width: 400px;
        width: 400px;
        margin: 100px;
    }
    .summaryContainer {
        display: flex;
        align-items: center;
    }
    .bioSummary {
        font-size: 1.5em;
        text-align: center;
        line-height: 1.5;
        letter-spacing: .1em;
    }
    @media (max-width: 700px) {
        display: block;
        margin: 10%;
        .headshot {
            width: 200px;
            display: block;
            margin: 10% auto;
        }
        .bioSummary {
            font-size: 1em;
        }
    }
}

form {
    font-size: 1.2em;
    .field {
        padding: 20px;
    }
    .inputContainer {
        display: flex;
    }
    button {
        padding: 0.5em;
        background: white;
        color: black;
        font-size: 1.2em;
        border: 5px solid black;
    }
}
form > * {
    padding: 2em;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5em;
    border-top: $yellow 10px solid;
}
.iconsContainer {
    display: flex;
}
.iconContainer {
    padding: 1.5em;
}


// $body-background-color: $black;
// $body-color: $white;
// $strong-color: $white;
// $link: $gold;
// $link-hover: $white;

// $navbar-background-color: $black;
// $navbar-item-color: $white;
// $navbar-item-hover-background-color: $black;
// $navbar-dropdown-background-color: $black;


// .section {
//     margin-bottom: 1rem;

// }
// .biography{
//     p {
//         margin: 1rem;
//         padding: 1rem;
//     }
// }

// .image {
//     margin: 0 auto 2rem auto;
// }


// $title-color: $white;
// $subtitle-color: $gold;

// .input {
//     margin-bottom: 1rem;
// }
// $input-color: $black;
// $input-background-color: $white;
// $label-color: $white;

// $footer-background-color: $black;
// $footer-color: $white;




// @import "~bulma/bulma.sass";